<div class="container mypolls">
	<div class="col-md-12" ng-show="!noPolls">
		<h1 class="text-center">My Polls <small>Pressing the red button will delete the poll</small></h1>
		<div class="row text-center" ng-repeat="poll in polls">
				<a ng-href="/polls/results/{{poll._id}}">{{poll.question}}</a> <button ng-click="deletePoll(poll._id, $index)" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-remove"></span></button>
		</div>
	</div>
	<div ng-show="noPolls" class="text-center">
	<h1>Oops! It looks like you haven't made any polls yet!</h1>
	<p><a href="/polls/create">Why Don't You Make One Now?</a></p>
	</div>
</div>
